*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    height: 100%;
  }
  body{
    display: grid;
    place-items: center;
    background: #dde1e7;
    text-align: center;
  }
  .clock{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/patten-wood.jpg");
    background-size: 400px;
    background-repeat: no-repeat; 
    height: 350px;
    width: 350px;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
  }
  .clock:before{
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    background-image: url("../img/patten-wood.jpg");
    background-size: 300px;
    background-repeat: no-repeat; 
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgba(94,104,121,0.288);  
  }
  .clock:after{
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    background-image: url("../img/patten-wood.jpg");
    background-size: 300px;
    background-repeat: no-repeat; 
    box-shadow: inset -1px -1px 5px #ffffff73,
                inset 1px 1px 3px rgba(94,104,121,0.288);
  }
  .one{
    z-index: 3;
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    background: transparent;
    box-shadow: inset -3px -3px 15px #ffffff73,
                inset 3px 3px 13px rgba(94,104,121,0.288);
}
.clock .two{
    height: 240px;
    width: 240px;
    z-index: 2;
    position: relative;
    display: flex;
}
img{
    height: 240px;
    width: 240px;
    z-index: 2;
    position: absolute;
}