body{
    margin: 0px;
    padding: 0px;
}
ul, #main-image{
    float: left;
    cursor: pointer;
}
#main-image img{
    margin-left: 30px;
}
ul li{
    list-style: none;
}
ul li img{
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
    user-select: none;
}
.Slideshow{
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  img{
      width: 600px;
  }
  .MySlide{
    display: none;
  }
  .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px; /*Thụt vào hai bên từ khung của đối tượng cha */
    color: rgb(157, 245, 179);
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease; /*Rê chuột vào thì khung nút từ từ hiện lên*/
    border-radius: 13px 0 0 13px;
    user-select: none; /*Ngăn không bôi đen văn bản(< và >)*/
  }
  .next{
    right: 400px;
    border-radius: 0 13px 13px 0;
  }
  .prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }
  .btn{
    cursor: pointer;
    height: 35px;
    width: 35px;
    margin: 0 12px;
    background-color: #00f7ff;
    border-radius: 50%;
  }
  .but{
    left: 25%;
    position: absolute;
    text-align: center;
  }
  .active, .button:hover{
    background-color: lawngreen;
  }